@import 'markdown';
@import 'variables';
body {
  @apply antialiased;
  @apply subpixel-antialiased;
}

.main, .main-home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  @media screen and (max-width: 500px) {
    overflow: hidden;
  }
}

.main-home {
  background-color: #DDDDDD;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(30px, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-30px, 0);
}

.text-field {
  background-color: transparent;
  color: #808080;
  border-bottom: 1px solid #707070;
  padding: 8px 0;
}

.text-field:focus {
  outline: none;
  border-bottom: 3px solid #7777FF;
}

.text-gray-pensieve {
  color: $pgrey;
}
.text-gray-dark-pensieve {
  color: $pgreydark;
}
.text-gray-light-pensieve {
  color: $pgreylight;
}

.font-mono {
  font-family: 'Roboto Mono', monospace;
}
.font-sinter {
  font-family: sinter,sans-serif;
  font-weight: 400;
  font-style: normal;
}
.font-sinter-bold {
  font-family: sinter,sans-serif;
  font-weight: 700;
  font-style: normal;
}
.font-magistral {
  font-family: 'Magistral', sans-serif;
}